:root {
  --background: #F2F2F2;
  --text-grey: #797979;
  --text-black: #2F2F2F;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-grey);
  background: var(--background);
  font-family: var(--font-pally), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.125);
  text-align: center;
  text-wrap: balance;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--text-black);
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
}

.normalText {
  font-size: 3.6rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.selectedText {
  color: var(--text-black);
}

.hoverableText {
  transition: color 0.6s ease;
}

.hoverableText:hover {
  color: var(--text-black);
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .normalText {
    font-size: 2.4rem;
    line-height: 1;
  }
}

@media (max-width: 480px) {
  h1 {
    top: 8%;
  }

  main {
    transform: translateY(-10%);
  }

  .normalText {
    font-size: 2rem;
  }
}