:root {
  --font-mono: var(--font-geist-mono), ui-monospace, "Roboto Mono", "Courier Prime", "Courier New", monospace;
  --color-black: #141414;
  --color-white: #f5f5f5;
  --color-gray: #dfdfdf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 1.125rem;
  font-family: var(--font-mono);
}

@media (max-width: 700px) {
  body {
    margin: 40px 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  font-size: 1.125rem;
}

h1#title {
  margin-top: 150px;
  font-weight: 400;
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.375em 0;
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  content: '>';
  margin-left: -2em;
}

ul ul > li::before {
  content: '>>';
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

code {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 8px;
  background-color: var(--color-gray);
  color: var(--color-black);
  font-family: var(--font-mono);
}

code.blackCode, h1.blackCode code {
  background-color: var(--color-black);
  color: var(--color-white);
}

input {
  padding: 0.5em;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  font-family: var(--font-mono);
}
