.title {
  position: static;
  transform: none;
  font-size: 7rem;
}

.subtitle {
  font-size: 2.9rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .title {
    font-size: 7rem;
    transform: translateY(-30%);
  }

  .subtitle {
    font-size: 2.9rem;
    transform: translateY(-30%);
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}